<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
   <head>
           <title>Spring Security Example </title>
       </head>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
   <body>
       <div th:if="${param.error}">
               Invalid username and password.
           </div>
       <div th:if="${param.logout}">
               You have been logged out.
           </div>
       <form th:action="@{/login}" method="post">
               <div><label> User Name : <input type="text" name="username"/> </label></div>
               <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><label>Code : <input type="text" name="code"></label></div>
                <div><label><img id="codeImage" src="/code/image"></label></div>
                    <input type="checkbox" value="true" name="remember-me">记住我
               <div><input type="submit" value="Sign In"/></div>
           </form>
   </body>
</html>

<script>
    $("#codeImage").click(function () {
        this.src = "/code/image?" + new Date().getTime();
    })
</script>
